* {
	text-align:center;
	color:#cdcdcd;
}

body {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#0f0f0f;
}

.img-h1 img {
	margin-bottom:5px;
	width:30px;
	height:30px;
}

.img-h1 {
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	border-bottom-style:dashed;
	border-bottom-width:2px;
	border-bottom-color:#cc2020;
}

.input{
	padding:10px;
}

input,button {
	width:80px;
	background-color:#cd112f;
	color:#000000;
	border-style:solid;
	border-width:2px;
	border-color:#2f2f2f;
	border-radius:10px;
}

.big_box {
	border-style:dashed;
	border-width:1px;
	border-color:#2f2f2f;
	width:100%;
}

.row {
	width:100%;
	display:flex;
	justify-content:space-around;
	padding-bottom:5px
}

.box {
	width:10%;
	height:40px;
	padding:5px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.red {
	color:red;
}

footer p,a {
	color:#555555;
	text-decoration:none;
}

::placeholder {
	color:#000000;
}

@media (max-width:500px) {
	.small {
		font-size:10px;
	}
}
