* {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  padding : 10px;
}

input {
  width: 80px;
}

.big_box{
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px
}

.box {
  width : 10%;
  height :40px;
  background-color: #ededed;
  padding: 5px;
}

.red {
  color: red;
}

@media (max-width:500px) {
  .small {
    font-size: 10px;
  }
}
